<h1>Páginas dos Artigos</h1>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Acção</th>
        </tr>
    </thead>

    <tbody>
        <% @artigos.each do |artigo| %>
        <tr>
            <td><%= artigo.nome %></td>
            <td><%= artigo.descricao %></td>
            <td><%= link_to 'Mostrar', artigo_path(artigo) %></td>
            <td><%= button_to 'Apagar', artigo_path(artigo), method: :delete %></td>
        </tr>
        <% end %>
    </tbody>
</table>